<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddProduct</title>
</head>
<body>
    <form action="/add-product" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" id="" placeholder="product title">
        <input type="text" name="description" id="" placeholder="product description">
        <input type="number" name="price" id="" placeholder="product price">
        <input type="file" name="image" id="image" multiple>
        <button>upload</button>
    </form>
</body>
</html>